<ion-content>
  <body class="screen">
    <section class="container home-container">

      <article class="user-card">
        <h1>{{ getUserName() }}</h1>
        <section class="user-info">
          <figure>
            <!-- <img src="assets/images/user.svg" alt> -->
            <p>{{ getUserInitials()  }}</p>
          </figure>
          <article class="info-user">
            <div class="column-user">
              <div class="row-user">
                <h2>Fecha de Nacimiento</h2>
                <p>01/01/2000</p>
              </div>
              <div class="row-user">
                <h2>Correo Electrónico</h2>
                <p>{{ userActual.email }}</p>
              </div>
              <div class="row-user">
                <h2>Teléfono</h2>
                <p>{{ userActual.phone }}</p>
              </div>
            </div>
            <div class="column-user">
              <div class="row-user">
                <h2>Nacionalidad</h2>
                <p>Colombiana</p>
              </div>
              <div class="row-user">
                <h2>Dirección</h2>
                <p>Calle 123 #45-67, Ciudad, País</p>
              </div>
              <div class="row-user">
                <h2>Usuario</h2>
                <p>{{ userActual.username }}</p>
              </div>
            </div>
          </article>
        </section>
        <section class="description-user">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim
            illum nulla, numquam quae rerum saepe soluta tenetur debitis impedit
            perferendis dolore cumque iste voluptates nobis eaque aliquid
            deleniti. Quos, facilis.</p>
        </section>
      </article>

    </section>
  </body>
</ion-content>
