<ion-content>
  <body class="screen">
      <section class="container login-container">
        <header class="header">
          <figure class="app-icon pulse">
            <img src="assets/images/logo.png" alt="Logo" class="logo-image">
          </figure>
          <h1 class="app-name">Optica DCA</h1>
        </header>
        <p class="texts">La aventura esta por iniciar, por favor inicia sesión</p>
        <form [formGroup]=form>
          
          <label class="input-container">
            <img src="assets/user.svg" alt="" class="icon">
            <input type="text" formControlName="user" [ngClass]="{'error': form.get('user')?.invalid && form.get('user')?.dirty}">
          </label>
          <p *ngIf="form.get('user')?.invalid && form.get('user')?.dirty" class="error">El campo usuario no puede estar vacio</p>
          <label class="input-container">
            <img src="assets/key.svg" alt="" class="icon">
            <input type="password" formControlName="password" [ngClass]="{'error': form.get('password')?.invalid && form.get('password')?.dirty}">
          </label>
          <p *ngIf="form.get('password')?.invalid && form.get('password')?.dirty" class="error">El campo clave no puede estar vacio</p>
          <button class="btn btn-login" [disabled]="form.invalid">Ingresar</button>
          <p class="link">Recupera tu contraseña</p>

          <button class="btn btn-google">
            <img src="assets/images/google.png" alt="Google Logo" class="icon">
            Ingresa con Google
          </button>
          <p class="link link-register">
            <span>No tienes cuenta?</span> 
            <i (click)="navigate('/register')" class="link"> Registrate</i>
          </p>
        </form>
      </section>

  </body>
</ion-content>
