<ion-content>
  <body class="screen">
      <section class="container login-container">
        <header class="header">
          <figure class="app-icon pulse">
            <img src="assets/images/logo.png" alt="Logo" class="logo-image">
          </figure>
          <h1 class="app-name">Optica DCA</h1>
        </header>
        <p class="texts">La aventura esta por iniciar, por favor inicia sesión</p>
        <form action="">
          <label class="input-container">
            <img src="assets/user.svg" alt="" class="icon">
            <input type="text">
          </label>
          <label class="input-container">
            <img src="assets/key.svg" alt="" class="icon">
            <input type="password">
          </label>
          <button class="btn btn-login">Ingresar</button>
          <p class="link">Recupera tu contraseña</p>

          <button class="btn btn-google">
            <img src="assets/images/google.png" alt="Google Logo" class="icon">
            Ingresa con Google
          </button>
          <p class="link link-register">
            <span>No tienes cuenta?</span> 
            Registrate
          </p>
        </form>
      </section>

  </body>
</ion-content>
