<ion-content>
  <body class="screen">
    <section class="container home-container">
      <figure class="app-icon pulse">
        <img src="assets/images/logo.png" alt="Logo" class="logo-image">
      </figure>
      <h1 class="app-name">Optica DCA</h1>
      <p class="texts description">Inicia una nueva aventura con Optica DCA y descubre una nueva forma de ver el mundo.</p>
      <button class="btn btn-start" (click)="navigateToLogin()">Comenzar</button>
      <p class="link">Registrate</p>
    </section>
  </body>
</ion-content>