<ion-content>
  <body class="screen">
    <app-header></app-header>
    <section class="container home-container">
      <figure class="app-icon pulse">
        <img src="assets/images/logo.png" alt="Logo" class="logo-image">
      </figure>
      <h1 class="app-name">Optica DCA</h1>
      <p class="texts description">Bienvenido {{ userData.name + ' ' + userData.lastname || "Usuario No Verificado" }}, te encuentras en la página principal de nuestra App.</p>
      <button class="btn" (click)="logout()">Cerrar Sesión</button>
    </section>
  </body>
</ion-content>
